.uppercase {
    text-transform:$text-uppercase;
}

.capitalize {
    text-transform: $text-capitalize;
}

.lowercase {
    text-transform: $text-lowercase;
}


.font-size-l {
    font-size: 20px
}

.font-size-m {
    font-size: 15px
}

.font-size-s {
    font-size: 13px
}