.tag {
    position: relative;

    &--link{
        color:$white-color;
        text-decoration: none;
        background-color: $grey-color-darken-1;
        border:1px solid transparent;
        padding: 3px 20px;
        font-size: 12px;
        border-radius: 10px;

        &:hover {
            color:$white-color;
        text-decoration: none;
          }
    }

    &--icon {
        color: $grey-color-darken-1;
    }

    
}