//color
$purple-color: #b91d56;
$pink-color:#c33d6e;
$pink-color-light-1:#f71c52;
$purple-colo-dark-1:#b40d4a;


$grey-color-darken-1: #686868;
$grey-color:#7d7d7d;
$grey-color-lghite-0:#bbbbbb;
$grey-color-light-1:#aeaeae;
$grey-color-light-2:#989898;
$grey-color-lghite-3:#9c9c9c;
$grey-color-lghite-4:#8e8e8e;


$white-color-lghite-1:#ebebeb;
$white-color-lghite-2:#dedddd;
$white-color-light-3:#ebebeb;
$white-color-light-4:#f6f6f6;
$white-color:#fff;

$black-color:#000;
$black-color-light-1:#545454;

//text-transform
$text-uppercase:uppercase;
$text-lowercase:lowercase;
$text-capitalize: capitalize;
